In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('smartphone_activity_dataset.csv')
df.head(3)

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_553,feature_554,feature_555,feature_556,feature_557,feature_558,feature_559,feature_560,feature_561,activity
0,0.289,-0.0203,-0.133,-0.995,-0.983,-0.914,-0.995,-0.983,-0.924,-0.935,...,-0.299,-0.710,-0.1130,0.03040,-0.465,-0.0184,-0.841,0.180,-0.0586,5
1,0.278,-0.0164,-0.124,-0.998,-0.975,-0.960,-0.999,-0.975,-0.958,-0.943,...,-0.595,-0.861,0.0535,-0.00743,-0.733,0.7040,-0.845,0.180,-0.0543,5
2,0.280,-0.0195,-0.113,-0.995,-0.967,-0.979,-0.997,-0.964,-0.977,-0.939,...,-0.391,-0.760,-0.1190,0.17800,0.101,0.8090,-0.849,0.181,-0.0491,5

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10299 entries, 0 to 10298
Columns: 562 entries, feature_1 to activity
dtypes: float64(561), int64(1)
memory usage: 44.2 MB

In [21]:
df.keys()

Index(['feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5',
       'feature_6', 'feature_7', 'feature_8', 'feature_9', 'feature_10',
       ...
       'feature_553', 'feature_554', 'feature_555', 'feature_556',
       'feature_557', 'feature_558', 'feature_559', 'feature_560',
       'feature_561', 'activity'],
      dtype='object', length=562)

In [22]:
X = df.iloc[:,0:561].values
y = df.iloc[:,-1].values

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=33)

In [25]:
knn = KNeighborsClassifier(n_neighbors=7)

In [26]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [27]:
y_pred = knn.predict(X_test)

In [28]:
y_pred[10]

4

In [29]:
y_test[10]

4

In [30]:
knn.score(X_test,y_test)

0.9660194174757282

In [31]:
from sklearn.metrics import r2_score,classification_report

In [32]:
print(r2_score(y_test,y_pred))
print(classification_report(y_test,y_pred))

0.986486039059592
              precision    recall  f1-score   support

           1       0.99      1.00      0.99       328
           2       0.99      1.00      0.99       300
           3       1.00      0.98      0.99       279
           4       0.93      0.89      0.91       360
           5       0.90      0.93      0.92       370
           6       1.00      1.00      1.00       423

    accuracy                           0.97      2060
   macro avg       0.97      0.97      0.97      2060
weighted avg       0.97      0.97      0.97      2060